<div class="container">
  
  <h1>Contact</h1>

  <!-- Email -->
  <p>Want to work together? Please email me at:</p>
  <h1 class="no-padding no-margin"><a id="email" href="mailto:{{email}}">{{email}}</a></h1>

  <br>

  <!-- Social Media -->
  <p>Or find me on:</p>
  <div class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
    <div id="social-media" class="flex-item text-center" *ngFor="let s of social">
      <a id="{{s.title}}" class="social-media" href="{{s.url}}"><i class="fa {{s.fa_icon}} fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>