@import '../../../style-helpers/colors';
@import '../../../style-helpers/fonts';
@import '../../../style-helpers/breakpoints';

@media (min-width: $breakPoint) {
  #group-overview {
    margin-right: 3%;
  }
  
  #group-details {
    margin-left: 3%;
  }
}

.fa {
  padding-right:10px;
}