@import '../../../style-helpers/colors';
@import '../../../style-helpers/fonts';
@import '../../../style-helpers/viewports-helper';

.container{
  margin-top: 20px;
}

.fa {
  padding-right:10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

@media (min-width: $breakPoint--small) {
  #about--overview-group {
    margin-right: 3%;
    min-width: 300px;
  }
  
  #about--details-group {
    margin-left: 3%;
  }
}