<navigation-component id="navigation-component"></navigation-component>
<div class="container">
  <div id="about--flex-container" class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
    <div id="about--overview-group" class="flex-item" fxFlex.xl="25%" fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
      <img id="about--avatar" src="{{avatar}}" alt="Brett Oberg" />
      <a id="about--photography-btn" routerLink="/photography" class="component-is--primary btn full-width" mat-raised-button>Photography Portfolio</a>
      
      <h2 id="about--overview-title">Overview</h2>
      <ul class="no-bullets">
        <li>
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
          <span id="about--job">{{job}}</span>
        </li>
        <li>
          <i class="fa fa-home" aria-hidden="true"></i>
          <span id="about--location">{{location}}</span>
        </li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a id="about--email" href="mailto:{{email}}">{{email}}</a>
        </li>
      </ul>
      
      <h2 id="about--social-media-title">Social Media</h2>
      <ul id="about--social-media-list" class="no-bullets">
        <li *ngFor="let s of social">
          <i class="fa {{s.fa_icon}}" aria-hidden="true"></i>
          <a id="about--social-media-{{s.title}}" class="social-media" href="{{s.url}}">{{s.title}}</a>
        </li>
      </ul>
    </div>

    <div id="about--details-group" class="flex-item" fxFlex.xl="75%" fxFlex.lg="75%" fxFlex.md="75%" fxFlex.sm="75%" fxFlex.xs="100%">
      <h1 id="about--details-title">About</h1>
      <p id="about--content-description-long" class="description-long"><!-- NOTE: Do not just inject descriptionLong her, because descriptionLong is stored as html content --></p>
    </div>
  </div>
</div>
<footer-component id="footer-component"></footer-component> 
