/* Color Palette */
$primary: #3F51B5;
//$secondary:
//$accent:
$dark-gray: #424242;
$medium-gray: #E0E0E0;
$light-gray: #FAFAFA;
$white: #ffffff;
$black: #000000;

/** Content size */
$breakPoint: 650px;

/** Font */
$font-large: 2.5em;
$font-medium: 1.5em;
$font-normal: 1.0em;

.footer {
  max-width: 100% !important;
  padding: 1% 2% 1% 2% !important;
  background-color: $medium-gray !important;
}

.pull-right {
  float: right;
}

.social-media {
  margin: 0px 5px 0px 5px;
}

/** For desktop devices */
@media (min-width: $breakPoint) {
  .footer {
    margin-bottom: 0px;
  }
}

/** For mobile devices */
@media (max-width: $breakPoint) {
  .footer {
    margin-bottom: 64px;
  }
}