<div id="footer" class="footer">
  <p id="footer--items-left" class="items-left">
    <b>Brett Oberg</b> - <a href="mailto:{{email}}">{{email}}</a>
  </p>
  <p id="footer--items-right" class="items-right">
    <span *ngFor="let s of social">
      <a id="footer--social-{{s.title}}" title="{{s.title}}" class="social-media" href="{{s.url}}">
        <i class="fa {{s.fa_icon}}" aria-hidden="true"></i>
      </a>
    </span>
    <span id="footer--copyright-information" class="copyright-information"> | <i class="fa fa-copyright" aria-hidden="true"></i> {{getCurrentYear()}}</span>
  </p>
</div>