extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h4 My name is Brett Oberg
              h1 UI Designer & Developer
              br               
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.page-scroll(href='#about') Learn more
              a.left-margin.mdl-button.mdl-button--accent.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.page-scroll(href='#portfolio') Portfolio
        |     
        section#about
          .container
            .row
              .col-lg-4
                img.wow.bounceInLeft.img-responsive(src='/static/img/subheadshot.jpg', alt='Brett Oberg headshot')
              .col-lg-8.wow.bounceInRight
                h2.section-heading Brett Oberg              
                h4.light UI Designer & Developer
                |                     
                p I am a student studying Information Systems, Operations Management, and Computer Science at the University of Wisconsin - Madison. Professionally, I am interested in software development, UI/UX design, web development, and entrepreurship. I have 5 years of general work experience, and for the past 3 years, I have been working to develop these skills:
                  ul
                    li Web Development: 3 years
                    li Mobile Development: 2 years
                    li UI/UX Development: 1 years
                p If you are interested in reviewing my work please visit my #[a(href='https://github.com/bjoberg') GitHub page].
                p Personally, I am a very active person interested in: golf, running, working out, listening to music, and traveling.
                p Thanks for taking the time to visit this site. If you have concerns, advice, or just want someone to discuss design techniques with, please reach out to me. I am always looking to speak with new people.
                a.mdl-button.mdl-button--accent.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href='http://brettoberg.com/documents/BrettOberg-Resume.pdf') Resume
        |     
        section.bg-primary
          .container      
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-desktop.wow.bounceIn
                  |                         
                  h3 Web
                  |                         
                  p Web design / programming is what I like to do, and what I excel at. Focused on clean, responsive design, I believe that the first step in good web design is the ability to view a site on all devices. I want to contribute to the growth of the internet by designing beautiful websites for everyone to enjoy.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-mobile.wow.bounceIn(data-wow-delay='.1s')
                  |                         
                  h3 iOS
                  |                         
                  p iOS development has always been an interest of mine. Ever since I bought my first iPhone, I have always wanted to make applications that ran in my hand. I have not released any applications to the App Store, but I have dozens of private apps that I have developed for my own personal use.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-android.wow.bounceIn(data-wow-delay='.2s')
                  |                         
                  h3 Android
                  |                         
                  p Development for Android devices has been a recent interest of mine. Onset by my work with the UW Athletic Department, I have become fascinated by Google's material design pattern and the community of developers working with Android devices.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-server.wow.bounceIn(data-wow-delay='.3s')
                  |                         
                  h3 Services
                  |                         
                  p Backend development is my weakest skill. Launching my own website has forced me to learn basic server management and manipulation. I hope to continue growing this skill as my web, iOS, and Android development / design expands.
        |     
        aside
          .container.text-center
            .call-to-action
              h2 Want to read more?
              br
              a.mdl-button.mdl-button--accent.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.wow.tada(href='/blog') View Blog
        | 
        section#portfolio.no-padding.bg-dark
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/ge-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | GE Digital
                      |                                 
                      .project-name
                        | Software Engineer Intern
              | 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/brettoberg-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | BrettOberg.com
                      |                                 
                      .project-name
                        | Designer & Developer
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/uw-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | UW Madison Department of Athletics
                      |                                 
                      .project-name
                        | Student Software Developer
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/ge-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | GE Energy Management
                      |                                 
                      .project-name
                        | ITLP Intern
              |   
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/angular-todolist.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Angular.js Tutorial
                      |                                 
                      .project-name
                        | Student
              | 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/express-blog.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Express.js Tutorial
                      |                                 
                      .project-name
                        | Student
              |               
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/uw-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | UW Department of Psychiatry
                      |                                 
                      .project-name
                        | Junior Network Administrator
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/blackhawk-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Blackhawk Country Club
                      |                                 
                      .project-name
                        | Bagboy & Caddy
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/vitense-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Vitense Golfland
                      |                                 
                      .project-name
                        | Customer Service
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/bx3-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Business, Badgers, and Beyond
                      |                                 
                      .project-name
                        | General Member
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/aisp-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Association of Information Systems Professionals
                      |                                 
                      .project-name
                        | President
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/scratch-logo.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Service Learning Course
                      |                                 
                      .project-name
                        | Computer Science Teacher
        |    
        section#skills.no-padding
          .container-small
            .row
              .col-lg-12.text-center
                  h2 Skills
                  table.table.table-hover
                    thead
                      tr
                        th SKILL
                        th RATING
                    tbody
                      tr.skill
                        td CSS
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                      tr.skill
                        td C#
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                      tr.skill
                        td D3.js
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                      tr.skill
                        td Excel
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                      tr.skill
                        td Git
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td HTML
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                      tr.skill
                        td Java
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td JavaScript
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td JQuery
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td JavaScript
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td Linux OS
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td Mac OS
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                      tr.skill
                        td Photoshop
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                      tr.skill
                        td PowerPoint
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                      tr.skill
                        td SQL
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                      tr.skill
                        td Swift
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                      tr.skill
                        td Visual Basic .NET
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                      tr.skill
                        td Windows OS
                        td
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
        section#contact.bg-dark
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Connect with me
                                    
                br              
              .col-lg-4.col-sm-6.text-center
                a(href='mailto:brett@obergmail.com').fa.fa-envelope-o.fa-3x.wow.bounceIn         
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://twitter.com/brett_oberg888').fa.fa-twitter.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://www.facebook.com/brett.oberg').fa.fa-facebook.fa-3x.wow.bounceIn         
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://www.instagram.com/bjoberg/').fa.fa-instagram.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://github.com/bjoberg').fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://www.linkedin.com/in/brett-oberg-7bb5a594').fa.fa-linkedin.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              .col-lg-4.col-sm-6.text-center
                a(target='blank', href='https://plus.google.com/114593328028628529895').fa.fa-google-plus.fa-3x.wow.bounceIn(data-wow-delay='.1s')
              
