// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../../style-helpers/colors';
@import '../../../../style-helpers/fonts';
@import '../../../../style-helpers/viewports-helper';

#navigation-component {
  visibility: hidden !important;
}

// ****************************************************************************
// Loading image
// ****************************************************************************
[role=loading-image] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

// ****************************************************************************
// Portfolio Item
// ****************************************************************************
[role=container--portfolio-item] {  
  
  .container--nav-left {
    position: absolute;
    z-index: 100 !important;
    display: flex;
    align-items: center;
    min-height: 100vh !important;
    padding: 0px 0px 0px 10px;

    .nav-left:focus {
      outline: 0 !important;
    }
  }

  .container--loading-image {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;   
  }

  .container--image {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    min-width: 100vw !important;

    img {
      max-width: 100vw !important;
      max-height: 100vh !important;
      align-self: center;
    }
  }

  .container--nav-right {
    position: absolute;
    z-index: 100 !important;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    padding: 0px 10px 0px 0px;

    .close {
      align-self: flex-start;
      right: 10px;
      top: 10px;
      position: absolute;

      &:focus {
        outline: 0 !important;
      }
    }

    .nav-right:focus {
      outline: 0 !important;
    }
  }

  .material-icons {
    font-size: 48px;
    color: $dark-gray;
    cursor: pointer;
  }
}