<!-- STATE: Component is loading -->
<ng-template [ngIf]="componentIsLoading">
  <div id="progress-bar--photography-portfolio-item-component" class="progress-bar">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>

<!-- STATE: Component is not loading -->
<ng-template [ngIf]="!componentIsLoading">

  <!-- STATE: Component is not loading but has an error -->
  <ng-template [ngIf]="componentHasError">
    <error-component id="error-component" [error]="error"></error-component>
  </ng-template>

  <!-- STATE: Component is not loading and does not have an error -->
  <ng-template [ngIf]="!componentHasError">
    <!-- Component -->
    <main id="container--portfolio-item" class="container--portfolio-item" class="container--portfolio-item" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
      <!-- Nav left -->
      <div class="container--nav-left" id="container--nav-left">
        <div [hidden]="!hasPrev" class="nav-left" id="nav-left" (click)="navPrev()">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
      </div>
      
      <!-- Image -->
      <div class="container--image">
        <img alt="{{image.title}}" src="{{image.imageUrl}}" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" />
      </div>
      
      <!-- Nav right -->
      <div class="container--nav-right" id="container--nav-right">
        <div class="close" (click)="navClose()">
          <i class="material-icons">close</i>
        </div>
        <div [hidden]="!hasNext" class="nav-right" id="nav-right" (click)="navNext()">
          <i class="material-icons">keyboard_arrow_right</i>
        </div>
      </div>
    </main>
  </ng-template>  
</ng-template>