<!-- STATE: Page is loading -->
<div *ngIf="pageIsLoading">
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<!-- STATE: Page is not loading -->
<div *ngIf="!pageIsLoading">
  <div role="container--portfolio-item" class="container--portfolio-item" id="container--portfolio-item">
    <!-- Nav left -->
    <div class="container--nav-left" id="container--nav-left" routerLink="/photography/{{portfolioRoute}}/{{prevPortfolioItemRoute}}">
      <a [hidden]="!hasPrev" id="nav-left" href="/photography/{{portfolioRoute}}/{{prevPortfolioItemRoute}}">
        <i class="material-icons">keyboard_arrow_left</i>
      </a>
    </div>

    <!-- Image -->
    <div class="container--image flex-container">
      <img alt="{{portfolioItem.title}}" src="{{portfolioItem.imageUrl}}" />
    </div>
    
    <!-- Nav right -->
    <div class="container--nav-right" id="container--nav-right">
        <a class="close" href="/photography/{{portfolioRoute}}/">
          <i class="material-icons">close</i>
        </a>
        <a [hidden]="!hasNext" class="nav-right" id="nav-right" href="/photography/{{portfolioRoute}}/{{nextPortfolioItemRoute}}">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
  </div>
</div>
