<!-- STATE: Page is loading -->
<div *ngIf="pageIsLoading">
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<!-- STATE: Page is not loading -->
<div *ngIf="!pageIsLoading">
  <div role="container--portfolio-item" class="container--portfolio-item" id="container--portfolio-item">
    <!-- Nav left -->
    <div class="container--nav-left" id="container--nav-left">
      <div [hidden]="!hasPrev" class="nav-left" id="nav-left" (click)="navPrev()">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
    </div>

    <!-- STATE: Loading the image -->
    <div *ngIf="loadingImage" class="container--loading-image">
      <p>Loading image...</p>
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
    </div>
    
    <!-- STATE: Not loading the image -->
    <div *ngIf="!loadingImage" class="container--image">
      <img alt="{{image.title}}" src="{{image.imageUrl}}" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" />
    </div>
    
    <!-- Nav right -->
    <div class="container--nav-right" id="container--nav-right">
      <div class="close" (click)="navClose()">
        <i class="material-icons">close</i>
      </div>
      <div [hidden]="!hasNext" class="nav-right" id="nav-right" (click)="navNext()">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
</div>
