<!-- STATE: Page is loading -->
<div *ngIf="isLoading; else isNotLoading">
  <md-progress-bar color="primary" mode="indeterminate"></md-progress-bar>
</div>

<!-- STATE: Page is not loading -->
<ng-template #isNotLoading>
  <div role="container--portfolio-item" class="container--portfolio-item" id="container--portfolio-item">
    <!-- Nav left -->
    <div class="container--nav-left" id="container--nav-left" routerLink="/photography/{{portfolioGroupRoute}}/{{prevPortfolioItemRoute}}">
      <i class="material-icons">keyboard_arrow_left </i>
    </div>

    <!-- Image -->
    <div class="container--image flex-container">
      <img src="{{portfolioItem.imageUrl}}" />
    </div>
    
    <!-- Nav right -->
    <div class="container--nav-right" id="container--nav-right" routerLink="/photography/{{portfolioGroupRoute}}/{{nextPortfolioItemRoute}}">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </div>
</ng-template>
