<!-- STATE: Page is loading -->
<div *ngIf="isLoading">
  <md-progress-bar color="primary" mode="indeterminate"></md-progress-bar>
</div>

<!-- STATE: Page is not loading -->
<div *ngIf="!isLoading">
  <div role="container--portfolio-item" class="container--portfolio-item" id="container--portfolio-item">
    <!-- Nav left -->
    <div class="container--nav-left" id="container--nav-left" routerLink="/photography/{{portfolioGroupRoute}}/{{prevPortfolioItemRoute}}">
      <a id="nav-left" href="/photography/{{portfolioGroupRoute}}/{{prevPortfolioItemRoute}}">
        <i class="material-icons">keyboard_arrow_left</i>
      </a>
    </div>

    <!-- Image -->
    <div class="container--image flex-container">
      <img src="{{portfolioItem.imageUrl}}" />
    </div>
    
    <!-- Nav right -->
    <div class="container--nav-right" id="container--nav-right">
        <a class="close" href="/photography/{{portfolioGroupRoute}}/">
          <i class="material-icons">close</i>
        </a>
        <a class="nav-right" id="nav-right" href="/photography/{{portfolioGroupRoute}}/{{nextPortfolioItemRoute}}">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
  </div>
</div>
