<div class="container">
  <!-- STATE: Page is loading -->
  <div *ngIf="isLoading; else isNotLoading">
    <p>Page is loading...</p>
  </div>

  <!-- STATE: Page is not loading -->
  <ng-template #isNotLoading>

    <!-- Page title -->
    <div class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
      <h1>{{portfolioItem.title}}</h1>
    </div>
    <!-- Item -->
    <div class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
      <img src="{{portfolioItem.imageUrl}}" />
    </div>
  </ng-template>
</div>