<div class="container">
  <!-- STATE: Page is loading -->
  <div *ngIf="isLoading; else isNotLoading">
    <md-progress-bar color="primary" mode="indeterminate"></md-progress-bar>
  </div>

  <!-- STATE: Page is not loading -->
  <ng-template #isNotLoading>
    <!-- Page title -->
    <!-- <div class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
      <h1>{{portfolioGroupTitle}}</h1>
    </div> -->

    <!-- Context browser -->
    <div role="context-browser" class="flex-container" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
      <div class="container--context-browser">
        <a routerLink="/photography">Photography</a> 
        <i class="material-icons">keyboard_arrow_right</i>
        <p>{{portfolioGroupTitle}}</p>
      </div>
    </div>

    <!-- Image list -->
    <div role="photo-grid">
      <md-grid-list cols="2" gutterSize="15px" rowHeight="4:3">
        <md-grid-tile routerLink="/photography/{{portfolioGroupRoute}}/{{item.route}}" *ngFor="let item of portfolioGroupItems">
          <img src="{{item.imageUrl}}" />
          <md-grid-tile-footer>{{item.title}}</md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>  
    </div>
  </ng-template>
</div>