// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../../style-helpers/colors';
@import '../../../../style-helpers/fonts';
@import '../../../../style-helpers/viewports-helper';

// ****************************************************************************
// Context Browser
// ****************************************************************************
[role=context-browser] {
  padding: 10px 0px 0px 0px;

  .container--context-browser {
    font-size: $font-size--small;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// ****************************************************************************
// Photo grid
// ****************************************************************************
[role=photo-grid] {
  md-grid-tile:hover {
    cursor: pointer;
  }

  img {
    max-width:100%;
    max-height:100%;
  }
}