<div class="container">
  <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="left left" fxLayoutAlign.xs="start start">
    <div id="profile-picture" fxFlex="40%" class="flex-item"><img src="/app/images/headshot.jpg" alt="Brett Oberg"></div>
    <div id="profile-content" fxFlex="60%" class="flex-item">
      <h1 class="no-padding no-margin">Brett Oberg</h1>
      <h2>Student<span class="font-primary">.</span> Software Engineer<span class="font-primary">.</span> Photographer<span class="font-primary">.</span></h2>
      <h3>Software Projects<span class="font-primary">.</span></h3>
      <ul class="vertical-list">
        <li><a target="_new" href="https://bjoberg.github.io/kolours/">Kolours</a></li>
        <li><a target="_new" href="https://www.presenceofenergy.com/">Presence of Energy</a></li>
      </ul>
      <h3>Photography<span class="font-primary">.</span></h3>
      <ul class="vertical-list">
        <li><a target="_new" href="https://500px.com/bjoberg/galleries/featured">Featured</a></li>
        <li><a target="_new" href="https://500px.com/bjoberg/galleries/southeast-asia">Souteast Asia</a></li>
        <li><a target="_new" href="https://500px.com/bjoberg/galleries/wisconsin-winter">Wisconsin Winter</a></li>
        <li><a target="_new" href="https://500px.com/bjoberg/galleries">More...</a></li>
      </ul>
      <h3>Email<span class="font-primary">.</span></h3>
      <ul class="vertical-list">
        <li><a href="mailto:brett@obergmail.com">brett@obergmail.com</a></li>
      </ul>
      <h3>Extras<span class="font-primary">.</span></h3>
      <ul class="horizontal-list">
        <li><a target="_new" href=""><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i></a></li>
        <li><a target="_new" href="https://github.com/bjoberg"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
        <li><a target="_new" href="https://www.instagram.com/bjoberg/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        <li><a target="_new" href="https://500px.com/bjoberg"><i class="fa fa-500px fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div> 
</div>
