<!-- STATE: Page is loading -->
<ng-template [ngIf]="pageIsLoading">
  <div role="progress-bar">
    <mat-progress-bar color="primary" mode="indeterminate" value="75" bufferValue="50"></mat-progress-bar>
  </div>
</ng-template>

<!-- STATE: Page is loading -->
<ng-template [ngIf]="!pageIsLoading">
  <!-- Navigation -->
  <navigation-component [hidden]="hide()" id="navigation-component"></navigation-component>
  
  <!-- Main Content -->
  <router-outlet id="router-component"></router-outlet>

  <!-- Footer -->
  <footer-component [hidden]="hide()" id="footer-component"></footer-component> 
</ng-template>
