// ****************************************************************************
// Progress bar
// ****************************************************************************
[role=progress-bar] {
  z-index: 2000;
  position:absolute;
  width: 100vw;
}