// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../style-helpers/colors';
@import '../../../style-helpers/fonts';
@import '../../../style-helpers/viewports-helper';

// ****************************************************************************
// Photo grid
// ****************************************************************************
[role=photo-grid] { 
  mat-grid-tile-header {
		min-height: 100%;
		font-size: $font-size--xtra-large;
    justify-content: center !important;
    text-align: center;
	}
	
  mat-grid-tile:hover {
    cursor: pointer;
	}

  img {
    max-width:100%;
    height:100%;
  }
}