// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../style-helpers/colors';
@import '../../../style-helpers/fonts';
@import '../../../style-helpers/viewports-helper';

// ****************************************************************************
// Photo grid
// ****************************************************************************
.photo-grid { 
  mat-grid-tile {
    background-color: $light-gray;
  }

  mat-grid-tile-header {
    min-height: 100%;
    z-index: 100;
		font-size: $font-size--xtra-large;
    justify-content: center !important;
    text-align: center;
	}
	
  mat-grid-tile:hover {
    cursor: pointer;
	}
}