// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../../style-helpers/colors';
@import '../../../../style-helpers/fonts';
@import '../../../../style-helpers/viewports-helper';

// ****************************************************************************
// Progress bar
// ****************************************************************************
[role=progress-bar] {
  z-index: 2000;
  position:absolute;
  top: 100px;
}

// ****************************************************************************
// Context Browser
// ****************************************************************************
[role=context-browser] {
  padding: 0px 0px 0px 0px;

  .container--context-browser {
    font-size: $font-size--small;
    display: flex;
    align-items: center !important;
  }
}

// ****************************************************************************
// Photo grid
// ****************************************************************************
[role=photo-grid] {
  mat-grid-tile:hover {
    cursor: pointer;
  }

  img {
    max-width:100%;
    height:100%;
  }
}