// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../../style-helpers/colors';
@import '../../../../style-helpers/fonts';
@import '../../../../style-helpers/viewports-helper';

// ****************************************************************************
// Context Browser
// ****************************************************************************
.context-browser {
  padding: 0px 0px 0px 0px;

  .container--context-browser {
    font-size: $font-size--small;
    display: flex;
    align-items: center !important;
  }
}

// ****************************************************************************
// Photo grid
// ****************************************************************************
.photo-grid {
  overflow: hidden !important;
  
  mat-grid-tile:hover {
    cursor: pointer;
  }

  img {
    max-width:100%;
    height:100%;
  }
}