/* 
 * Color Palette
 *
 * Using an anagolous color palette: https://www.sessions.edu/color-calculator/ 
 */

$primary: #3a76c4;
$secondary: #58c43a;
$dark-gray: #424242;
$light-gray: #FAFAFA;
$white: #ffffff;
$black: #000000;