// Font sizes
$font-size--xtra-large: 2.5em;
$font-size--large: 1.5em;
$font-size--normal: 1.0em;
$font-size--small: .75em;

// Font weights
$font-weight--heavy: 600;
$font-weight--normal: 400;
$font-weight--light: 300;

// Letter spacing
$letter-spacing--wide: 1.3px;
$letter-spacing--normal: 1.2px;

// Line height
$line-height--tall: 1.5em;
$line-height--normal: inherit;