// Breakpoint
$breakPoint: 960px;

// Navbar
$toolbar--height: 5px;
$navbar--height: 70px;

// Footer
$footer--height: 60px;

// Container
$container--padding-left: 8%;    
$container--padding-right: 8%;