/* Color Palette */
//$primary: 
//$secondary:
//$accent:
$white: rgb(250,250,250);
$black: rgb(0,0,0);

head, body {
    background-color: $white;
    font-family: 'Poppins', sans-serif !important;
    color: $black;
}

body {
    margin: 0px;
    padding: 0px;
}