@import './style-helpers/colors';
@import './style-helpers/fonts';

head, body {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background-color: $light-gray !important;
    margin: 0px !important;
    padding: 0px !important;
}

// //////////////////// Layout ////////////////////
.container {
    margin-top: 2% !important;
    margin-right: 8% !important;
    margin-left: 8% !important;
    margin-bottom: 10% !important;
}

.placeholder {
    height: 75px !important;
}

// //////////////////// Styling ////////////////////
.component-is--primary {
    color: $white !important;
    background-color: $primary !important;
}

.component-is--secondary {
    color: $white !important;
    background-color: $secondary !important;
}

.component-is--light-gray {
    color: $dark-gray !important;
    background-color: $light-gray !important;
}

.full-width {
    width: 100% !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.text-center {
    text-align: center !important;
}

// //////////////////// General text ////////////////////
h1 {
    font-size: $font-size--xtra-large;
    color: $black;
    font-weight: $font-weight--heavy;
    letter-spacing: $letter-spacing--normal;
    line-height: $line-height--normal;
}

h2 {
    font-size: $font-size--large;
    color: $dark-gray;
    font-weight: $font-weight--normal;
    letter-spacing: $letter-spacing--normal;
    line-height: $line-height--normal;
}

p {
    font-size: $font-size--normal;
    color: $dark-gray;
    font-weight: $font-weight--normal;
    letter-spacing: $letter-spacing--wide;
    line-height: $line-height--tall;
}

// //////////////////// Images ////////////////////
img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

// //////////////////// Links ////////////////////
a {
    color: $primary;
    font-weight: $font-weight--normal;
    font-size: $font-size--normal;
    letter-spacing: $letter-spacing--normal;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: none;
}

a:hover {
    color: $primary;
    padding-bottom: 0px;
    border-bottom: solid 2px $primary;
}

a:visited {
    color: $primary;
    padding-bottom: 0px;
    border-bottom: none;
}

// //////////////////// Buttons ////////////////////
a.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

a.btn:hover {
    color: $white !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
}

a.btn:visited {
    color: $white;
    padding-bottom: 0px !important;
    border-bottom: none !important;
}

// //////////////////// Lists ////////////////////
ul.no-bullets {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: $font-size--normal;
}

li {
    color: $dark-gray;
    line-height: $line-height--tall;
    letter-spacing: $letter-spacing--normal;
    font-weight: $font-weight--normal;
}