<!-- Top navigation bar Desktop -->
<div class="nav-container nav-container--top component-is--primary" (window:resize)="onResize($event)">
  <ul>
    <li *ngFor="let item of navigationItemList" class="{{item.getType()}}">
      <a routerLink={{item.getRoute()}} routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
        <span>{{item.getTitle()}}</span>
      </a>
    </li>
  </ul>
</div>

<!-- Botom navigation bar -->
<div [hidden]="!displayDesktop" class="nav-container nav-container--bottom component-is--light-gray" (window:resize)="onResize($event)">
  <ul>
    <li *ngFor="let item of navigationItemList" class="{{item.getType()}}">
      <a routerLink={{item.getRoute()}} routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
        <span><i class="fa fa-{{item.getIcon()}}" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</div>