// ****************************************************************************
// Local styles
// ****************************************************************************
 @import '../../../style-helpers/colors';
 @import '../../../style-helpers/fonts';
 @import '../../../style-helpers/viewports-helper';

// ****************************************************************************
// Toolbar
// ****************************************************************************
.toolbar{
  min-width: 100vw !important;
  z-index: 1001 !important;
  background-color: map-get($primary, 900);
  min-height: $toolbar--height !important;
  position: fixed;
  top: 0px;
  left: 0px;
}

// ****************************************************************************
// Links
// ****************************************************************************
a,
a:hover,
a:visted,
a span {
  margin: 0px !important;
  padding: 0px !important;
}

// ****************************************************************************
// App Header
// ****************************************************************************
.container--app-header {
  z-index: 1000 !important;
  position: fixed;
  top: $toolbar--height !important;
  left: 0px;
  height: $navbar--height;
  min-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
  max-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
  padding-right: $container--padding-right;
  padding-left: $container--padding-left;
  background-color: $light-gray;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.18);
  box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.18);
  display: flex;
  align-items: center;
  
  a {
    text-decoration: none !important;
    color: $dark-gray !important;
    
    &:hover {
      text-decoration: none !important;
      color: $dark-gray !important;
    }

    &:visited {
      text-decoration: none !important;
      color: $dark-gray !important;      
    }
  }

  .title a {
    font-weight: $font-weight--heavy;
    
    &:hover {
      padding-bottom: none !important;
      border-bottom: none !important;
      font-weight: $font-weight--heavy;
      color: $dark-gray !important;
    }
  }
  
  .normal a {
    font-weight: $font-weight--normal;
    
    &.is-active {
      padding-bottom: 2px !important;
      border-bottom: 2px solid $dark-gray !important;
      color: $dark-gray !important;
    }

    &:hover {
      padding-bottom: 2px !important;
      border-bottom: 2px solid $dark-gray !important;
      color: $dark-gray !important;      
    }
  }

  .title.desktop {
    font-size: 20px;
    margin-right: 40px;
    font-weight: $font-weight--heavy;
  }

  .title.mobile {
    font-size: 20px;
    font-weight: $font-weight--heavy;
    text-align: center;
    margin: 0px;
    min-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
    max-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
  }
  
  .normal {
    padding-right: 30px;
    font-size: 12px;
  }
}

// ****************************************************************************
// Mobile
// ****************************************************************************
.container--bottom-tabs {
  z-index: 1000 !important;
  z-index: 1000 !important;
  min-width: 100vw;
  height: $navbar-mobile--height;
  position: fixed;
  bottom: 0 !important;
  left: 0 !important;
  -webkit-box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.18);
  box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.18);
  display: flex;
  align-items: center;
  background-color: $light-gray;
  
  .nav-item {
    flex: 1;
    color: $light-gray !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    & i {
      color: $medium-gray !important;
    }
  }

  a {
    color: $medium-gray !important;

    &.is-active i {
      color: $dark-gray !important;
      border-bottom: none !important;      
    }

    &:hover {
      color: $dark-gray !important;
      border-bottom: none !important;
    } 

    &:visited {
      color: $dark-gray !important;
      border-bottom: none !important;
    }
  }
}