 @import '../../../style-helpers/colors';
 @import '../../../style-helpers/fonts';
 @import '../../../style-helpers/viewports-helper';

/// Toolabr
.toolbar{
  min-width: 100vw !important;
  z-index: 1001 !important;
  background-color: map-get($primary, 900);
  min-height: $toolbar--height !important;
  position: fixed;
  top: 0px;
  left: 0px;
}

// Links
a {
  margin: 0px !important;
  padding: 0px !important;
}

a:hover {
  margin: 0px !important;
  padding: 0px !important; 
}

a:visited {
  margin: 0px !important;
  padding: 0px !important; 
}

a span {
  margin: 0px !important;
  padding: 0px !important;
}

// // //////////////////// Top Navigation ////////////////////
.nav-container--top {
  z-index: 1000 !important;
  min-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
  max-width: calc(100vw - #{$container--padding-right} - #{$container--padding-left}) !important;
  padding-right: $container--padding-right;
  padding-left: $container--padding-left;
  height: $navbar--height;
  position: fixed;
  top: $toolbar--height !important;
  left: 0 px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05), 0 2px 2px rgba(0,0,0,.05), 0 4px 4px rgba(0,0,0,.05), 0 0 8px rgba(0,0,0,.05), 0 0 16px rgba(0,0,0,.05);
  display: flex;
  align-items: center;
}

// Links
.nav-container--top  a {
  text-decoration: none !important;
  color: $white !important;
}

.nav-container--top a:hover {
  text-decoration: none !important;
  color: $white !important;
}

.nav-container--top a:visited {
  text-decoration: none !important;
  color: $white !important;
}

.nav-container--top .normal a {
  font-weight: 400;
}

.nav-container--top .normal a.is-active {
  padding-bottom: 2px !important;
  border-bottom: 2px solid $white !important;
  color: $white !important;
}

.nav-container--top .title a:hover {
  padding-bottom: none !important;
  border-bottom: none !important;
  color: $white !important;
}

.nav-container--top .normal a:hover {
  padding-bottom: 2px !important;
  border-bottom: 2px solid $white !important;
  color: $white !important;
}

// Desktop
.nav-container--top .desktop.title {
  font-size: 20px;
  margin-right: 40px;
  font-weight: 600;
}

.nav-container--top .desktop.normal {
  padding-right: 30px;
  font-size: 12px;
}

// Mobile

.nav-container--top .mobile.title {
  font-size: 20px;
  font-weight: 600;
}

.nav-container--top .mobile.normal {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

// //////////////////// Bottom Navigation ////////////////////
@media (max-width: $breakPoint) {
  .nav-container--bottom {
    z-index: 1000 !important;
    min-width: calc(100vw - 8% - 8%) !important;
    padding-right: $container--padding-right;
    padding-left: $container--padding-left;
    height: $navbar--height;
    position: fixed;
    bottom: 0 !important;
    left: 0 !important;
    box-shadow: 0 -1px 1px rgba(0,0,0,.05), 0 -2px 2px rgba(0,0,0,.05), 0 -4px 4px rgba(0,0,0,.05), 0 0 8px rgba(0,0,0,.05), 0 0 16px rgba(0,0,0,.05);
    display: flex;
    align-items: center;
  }

  .nav-container--bottom .mobile {
    flex: 1;
    color: $light-gray !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-container--bottom .mobile.a {
    color: $light-gray !important;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav-container--bottom a {
    color: $dark-gray !important;
  }

  .nav-container--bottom a:hover {
    color: $dark-gray !important;
    border-bottom: none !important;
  }

  .nav-container--bottom a:visited {
    color: $dark-gray !important;
    border-bottom: none !important;
  }

  .nav-container--bottom a.is-active {
    color: map-get($primary, 500) !important;
    border-bottom: none !important;
  }
}