 @import '../../../style-helpers/colors';
 @import '../../../style-helpers/fonts';
 @import '../../../style-helpers/breakpoints';

// //////////////////// All devices ////////////////////
.placeholder {
  min-height: 75px;
}

.nav-container {
  width: 100vw !important;
  z-index: 1000 !important;
}

.nav-container--top {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.05), 0 2px 2px rgba(0,0,0,.05), 0 4px 4px rgba(0,0,0,.05), 0 0 8px rgba(0,0,0,.05), 0 0 16px rgba(0,0,0,.05);
}

// Lists
ul {
  list-style-type: none !important;
}

// Links
a {
  margin: 0px !important;
  padding: 0px !important;
}

a:hover {
  margin: 0px !important;
  padding: 0px !important; 
}

a:visited {
  margin: 0px !important;
  padding: 0px !important; 
}

a span {
  margin: 0px !important;
  padding: 0px !important;
}

// //////////////////// Top Navigation ////////////////////

.nav-container--top ul,
.nav-container--top table {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 8% !important;
  padding-left: 8% !important;
  margin: 0px;
}

.nav-container--top li.title,
.nav-container--top td.title {
  font-size: 20px;
  margin-right: 40px;
  font-weight: 600;
}

.nav-container--top li.normal,
.nav-container--top td.normal {
  padding-right: 30px;
  font-size: 12px;
}

// Links
.nav-container--top  a {
  text-decoration: none !important;
  color: $white !important;
}

.nav-container--top a:hover {
  text-decoration: none !important;
  color: $white !important;
}

.nav-container--top a:visited {
  text-decoration: none !important;
  color: $white !important;
}

// Lists
.nav-container--top li {
  display: inline;
}

.nav-container--top .list--desktop li.normal a {
  font-weight: 400;
}

.nav-container--top .list--desktop li.normal a.is-active {
  padding-bottom: 2px !important;
  border-bottom: 2px solid $white !important;
  color: $white !important;
}

.nav-container--top .list--desktop li.title a:hover,
.nav-container--top .table--mobile td.title a:hover {
  padding-bottom: none !important;
  border-bottom: none !important;
  color: $white !important;
}

.nav-container--top .list--desktop li.normal a:hover {
  padding-bottom: 2px !important;
  border-bottom: 2px solid $white !important;
  color: $white !important;
}

// Tables
.nav-container--top table.table--mobile {
  width: 100vw !important;
}

.nav-container--top .table--mobile td.normal {
  text-align: right; 
}

// //////////////////// Bottom Navigation ////////////////////
@media (max-width: $breakPoint) {
  .nav-container--bottom {
    position: fixed;
    bottom: 0 !important;
    left: 0 !important;
    box-shadow: 0 -1px 1px rgba(0,0,0,.05), 0 -2px 2px rgba(0,0,0,.05), 0 -4px 4px rgba(0,0,0,.05), 0 0 8px rgba(0,0,0,.05), 0 0 16px rgba(0,0,0,.05);
  }

  .nav-container--bottom ul {
    display: table;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-container--bottom li {
    display: table-cell;
    text-align: center;
  }

  .nav-container--bottom td a {
    color: $light-gray !important;
  }

  .nav-container--bottom td a {
    color: $light-gray !important;
  }

  .nav-container--bottom td a:visited {
    color: $light-gray !important;
  }

  .nav-container--bottom td a:visited {
    color: $light-gray !important;
  }

  .nav-container--bottom a.is-active {
    color: $dark-gray !important;
  }
}